<footer class="row mt-4 bg-dark text-light py-3">
    <div class="col-md-4">
        <h5>Address</h5>
        <p>Sai Nagar, Bhandup East, Mumbai</p>
    </div>
    <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: <a href="mailto:dharmeshhh011@example.com" class="text-light">dharmeshhh011@example.com</a><br>Phone: <a href="tel:+91854511220" class="text-light">854511220</a></p>
    </div>
    <div class="col-md-4 text-center">
        <a href="https://in.linkedin.com/" class="text-light mx-2"><i class="bi bi-linkedin" style="font-size: 24px;"></i></a>
        <a href="https://x.com/?lang=en" class="text-light mx-2"><i class="bi bi-twitter" style="font-size: 24px;"></i></a>
    </div>
</footer>
</div>

<!-- Bootstrap Bundle with Popper -->
</body>
</html>