{% extends 'base.html' %}
{% load static %}

{%block 'main' %}

<main class="col-md-9">
    <form class="col-md-8 mx-auto mt-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-white" style="width: 470px;" action="/login" method="post"> {% csrf_token %}
        <h2>Login</h2>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
         {{message}}
        </div>
        {% endfor %}

        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" name="username" required>
            <div id="usernameHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <a href="">Forget password</a>

        </div>
        <br>
        <button type="submit" class="btn btn-primary bg-primary text-white" style="width: 100%;">Login</button>
        <br><br>
        Not a user??<a href="/register"> Sign Up</a>
    </form>
</main>
</div>

{% endblock 'main' %}